VITE_SUPABASE_URL=https://lrsnqkxarkjcemcxzana.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxyc25xa3hhcmtqY2VtY3h6YW5hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3MTU5MTIsImV4cCI6MjA4ODI5MTkxMn0.aDxArOSKhWsMkRHnTBuT-yA-ViUsKvz9Sv8DU8RMXjo
